@{
    ViewBag.Title = "Contact Management";
}
<body ng-app="ContactMgmtApp">
    <ul>
        <li><a ui-sref="AddItem">Add Contact</a></li>
        <li><a ui-sref="contacts">List Contacts</a></li>
    </ul>
    
    
    <div class="container"> 
        <div ui-view></div>
    </div>
</body>
